{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block css %} {% endblock css %}
    <style>
      
    </style>
  </head>
  <body>
    {% block content %}

    <div id="app" class="container">
      <!--Student create form-->
      <div class="row student_create">
        <!-- Start form -->
        <form class="row gx-2 gy-3" @submit.prevent="studentCreateForm">
          <div class="col-3">
            <label for="name" class="form-label">Name *</label>
            <input
              type="text"
              name="name"
              placeholder="Mahmud"
              v-model="student.name"
              class="form-control"
              id="name"
            />
          </div>
          <div class="col-3">
            <label for="phone" class="form-label">Phone *</label>
            <input
              type="text"
              name="phone"
              placeholder="015-xx-xx-xx-xx"
              v-model="student.phone"
              class="form-control"
              id="phone"
            />
          </div>
          <div class="col-3">
            <label for="ParentsPhone" class="form-label">Gurdian Phone</label>
            <input
              type="text"
              name="gurdian_phone"
              placeholder="017-xx-xx-xx-xx"
              v-model="student.gurdian_phone"
              class="form-control"
              id="ParentsPhone"
            />
          </div>
          <div class="col-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              placeholder="contact@mail.com"
              v-model="student.email"
              name="email"
              class="form-control"
              id="email"
            />
          </div>
          <div class="col-3">
            <label for="gender" class="form-label">Gender *</label>
            <select
              class="form-select"
              v-model="student.gender"
              name="gender"
              id="gender"
            >
              <option disabled value="null">Select Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
          <div class="col-3">
            <label for="studetn-course" class="form-label">Course</label>
            <select
              class="form-select"
              v-model="student.course"
              name="course"
              id="studetn-course"
            >
              <option disabled value="null">Select Course</option>
              <option
                v-for="course in courses"
                :key="course.id"
                :value="course.id"
              >
                [[course.name]]--[[course.price]]
              </option>
            </select>
          </div>
          <div class="col-3">
            <label for="academicYear" class="form-label">HSC Batch *</label>
            <select
              class="form-select"
              name="hsc_batch"
              v-model="student.hsc_batch"
              id="academicYear"
            >
              <option disabled value="null">Select Batch</option>
              <option
                v-for="year in academicYears"
                :key="year.id"
                :value="year.id"
              >
                HSC Batch [[year.year]] -[[year.year+1]]
              </option>
            </select>
          </div>
          <div class="col-3">
            <label for="location" class="form-label">Home Town</label>
            <select
              class="form-select"
              name="home_town"
              v-model="student.home_town"
              id="location"
            >
              <option disabled value="null">Select Home Town</option>
              <option v-for="town in homeTowns" :key="town.id" :value="town.id">
                [[town.name]]
              </option>
            </select>
          </div>
          <div class="col-3">
            <label for="college" class="form-label">College</label>
            <select
              class="form-select"
              name="college"
              v-model="student.college"
              id="college"
            >
              <option disabled value="null">Select College</option>
              <option
                v-for="college in colleges"
                :key="college.id"
                :value="college.id"
              >
                [[college.name]]
              </option>
            </select>
          </div>
          <div class="col-12">
            <button type="reset" class="btn btn-danger" @click="resetForm">
              Reset
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

        <!-- End Form -->
      </div>

      <!--Student Table-->

      <div class="row mt-5">
        <table
          class="table table-light table-striped table-hover table-bordered table-sm"
        >
          <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">HSC Batch</th>
              <th scope="col">Due Amount</th>
              <th scope="col">Paid This Month</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(i, index) in studentsList" :key="i.id" :class="i.paid_current_month ? 'table-success': 'table-danger'">
              <th scope="row">[[index+1]]</th>

              <th>[[i.name]]</th>
              <th>[[i.hsc_batch__year]] - [[i.hsc_batch__year+1]]</th>
              <th>[[i.due_amount ? i.due_amount: 0 ]]</th>
              <th>
                <span class="me-2" v-html="i.paid_current_month ? `<span class='badge text-bg-primary'>Yes</span>` : `<span class='badge text-bg-danger'>No</span>`
                "></span>

                <span class="badge ml-3 text-bg-info" @click="getPaymentHistory(i)" data-bs-toggle="modal"
                data-bs-target="#paymentHistory">Payment History</span>
              </th>
              <th>
                <div class="btn-group" role="group">
                  <button
                    type="button"
                    class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        href="#"
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#paymentModal"
                        @click="studentData(i)"
                        >Make Payment</a
                      >
                    </li>
                    <hr />
                    <li>
                      <a
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#assignCourseModal"
                        class="dropdown-item"
                        @click="studentData(i)"
                        >Assign Course</a
                      >
                    </li>
                    <hr />
                    <li>
                      <a href="#" class="dropdown-item">Assign Material</a>
                    </li>
                    <hr />
                    <li>
                      <a href="#" class="dropdown-item">Receive Material</a>
                    </li>
                  </ul>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!--Make Payment modal-->
      <div
        class="modal fade"
        id="paymentModal"
        tabindex="-1"
        aria-labelledby="paymentModalLable"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fs-5" id="paymentModalLable">
                Payment of ID# [[studentTableRow.id]] --- Name:
                [[studentTableRow.name]]
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="submitPaymentForm">
                <input type="text" hidden v-model="paymentFormData.student" />
                <div class="row mb-3">
                  <div class="col">
                    <label for="courseFee" class="col-form-label"
                      >Due Amount</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="courseFee"
                      disabled
                      :value="studentTableRow.due_amount"
                    />
                  </div>
                  <div class="col">
                    <label for="payment" class="col-form-label"
                      >Payment Amount</label
                    >
                    <input
                      min="1"
                      type="text"
                      class="form-control"
                      v-model="paymentFormData.amount_payment"
                      id="payment"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Pay Now</button>
                </div>
              </form>
            </div>
            <div class="footer">
              <div class="alert alert-primary" role="alert">Payment done</div>
            </div>
          </div>
        </div>
      </div>

      <!--Assign Course-->
      <div
        class="modal fade"
        id="assignCourseModal"
        tabindex="-1"
        aria-labelledby="assignCourseModalLable"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fs-5" id="assignCourseModalLable">
                Payment of ID# [[studentTableRow.id]] --- Name:
                [[studentTableRow.name]]
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="courseAssignForm">
                <input
                  type="text"
                  hidden
                  v-model="courseAssignFormData.student"
                />

                <div class="row mb-3">
                  <div class="col-md-12">
                    <label for="course">Select Course</label>
                    <select
                      class="form-select"
                      v-model="courseAssignFormData.course"
                      name="course"
                      id="course"
                    >
                      <option disabled value="null">Select Course</option>
                      <option
                        v-for="course in courses"
                        :key="course.id"
                        :value="course.id"
                      >
                        [[course.name]]-[[course.price]]
                      </option>
                    </select>
                  </div>
                  <div class="col-md-12 mt-3">
                    <label for="course">Select Batch</label>
                    <select
                      class="form-select"
                      v-model="courseAssignFormData.batch"
                      name="course"
                      id="course"
                    >
                      <option disabled value="null">Select Course</option>
                      <option
                        v-for="batch in batches"
                        :key="batch.id"
                        :value="batch.id"
                      >
                        [[batch.title]]
                      </option>
                    </select>
                  </div>
                  <div class="col mt-3">
                    <label for="courseFee" class="col-form-label"
                      >Discount Amount</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="courseFee"
                      v-model="courseAssignFormData.discount"
                    />
                  </div>
                  <div class="col mt-3">
                    <label for="payment" class="col-form-label"
                      >Payment Amount</label
                    >
                    <input
                      min="1"
                      type="text"
                      class="form-control"
                      v-model="courseAssignFormData.amount_payment"
                      id="payment"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <div class="footer">
              <div class="alert alert-primary" role="alert">Payment done</div>
            </div>
          </div>
        </div>
      </div>

      <!--Payment History-->
      <div
        class="modal fade"
        id="paymentHistory"
        tabindex="-1"
        aria-labelledby="paymentHistoryModalLable"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title fs-5" id="paymentHistoryModalLable">
                Student Payment History <br>
                ID # [[studentTableRow.id]] -- [[studentTableRow.name]]

              </p>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-2">
                <span class="f-3">Total Fee: [[studentTableRow.total_course_amount ? studentTableRow.total_course_amount : "N/A" ]] </span> <br>
                <span class="f-1">Total Payment: [[studentTableRow.total_payment ? studentTableRow.total_payment : "N/A" ]]</span> <br>
                <span class="f-1">Total Discount: [[studentTableRow.total_discount ? studentTableRow.total_discount : "N/A"]]</span> <br>
                <span class="f-1">Due Amount: [[studentTableRow.due_amount]]</span>
              </div>
              <div class="row">
                <table class="table table-light table-striped table-hover table-bordered table-sm">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Payment Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(studentPayment, index) in studentPaymentList" :key="index">
                      <th>[[index+1]]</th>
                      <th>[[studentPayment.amount_payment]]</th>
                      <th>[[studentPayment.payment_date]]</th>
                    </tr>
                  </tbody>
                  
              </table>
              </div>
            </div>
        </div>
      </div>

      <!--End #pp-->
    </div>

    {% endblock content %} {% block script %}
    <script>
      const homeTownLIst = JSON.parse("{{home_town_list|escapejs}}");
      const collegeList = JSON.parse("{{college_list|escapejs}}");
      const courseList = JSON.parse("{{course_list|escapejs}}");
      const academicYearList = JSON.parse("{{academic_year_list|escapejs}}");
      const batchList = JSON.parse("{{batch_list|escapejs}}");
      const { createApp } = Vue;
      createApp({
        mounted() {
          this.getAllStudent();
        },
        data() {
          return {
            blankStudentForm: {
              name: null,
              phone: null,
              gurdian_phone: null,
              email: null,
              gender: null,
              course: null,
              hsc_batch: null,
              home_town: null,
              college: null,
            },
            blankPaymentForm: {
              student: null,
              amount_payment: 0,
            },
            blankAssignCourseForm: {
              student: null,
              course: null,
              batch: null,
              discount: null,
              amount_payment: null,
            },
            student: {
              name: null,
              phone: null,
              gurdian_phone: null,
              email: null,
              gender: null,
              course: null,
              hsc_batch: null,
              home_town: null,
              college: null,
            },
            paymentFormData: {
              student: null,
              amount_payment: 0,
            },
            courseAssignFormData: {
              student: null,
              course: null,
              batch: null,
              discount: null,
              amount_payment: null,
            },
            homeTowns: homeTownLIst,
            colleges: collegeList,
            courses: courseList,
            academicYears: academicYearList,
            batches: batchList,
            studentsList: null,
            studentTableRow: {},
            studentPaymentList: [],
            rowCount: 1,
          };
        },
        methods: {
          resetForm() {
            this.student = { ...this.blankStudentForm };
          },
          getPaymentHistory(student) {
            this.studentTableRow = student
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios
              .get(
                `http://127.0.0.1:8000/course/student-payment-list/${student.id}/`)
              .then((response) => {
                this.studentPaymentList = response.data
              })
              .catch((error) => {
                console.log(error);
              });
          },
          courseAssignForm() {
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios
              .post(
                "http://127.0.0.1:8000/course/course-assign/",
                this.courseAssignFormData
              )
              .then((response) => {
                this.getAllStudent();
              })
              .catch((error) => {
                console.log(error);
              });
          },
          studentCreateForm() {
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios
              .post("http://127.0.0.1:8000/student/test/", this.student)
              .then((response) => {
                this.getAllStudent();
                this.resetForm();
              })
              .catch((error) => {
                console.log(error);
              });
          },

          submitPaymentForm() {
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios
              .post(
                "http://127.0.0.1:8000/course/payment/",
                this.paymentFormData
              )
              .then((response) => {
                this.paymentFormData = { ...this.blankPaymentForm };
                this.getAllStudent();
              })
              .catch((error) => {
                console.log(error);
              });
          },

          getAllStudent() {
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios
              .get("http://127.0.0.1:8000/student/all/")
              .then((response) => {
                this.studentsList = response.data;
              })
              .catch((error) => {
                console.log(error);
              });
          },
          studentData(i) {
            this.studentTableRow = i;
            this.paymentFormData.student = i.id;
            this.courseAssignFormData.student = i.id;
          },
        },
        delimiters: ["[[", "]]"],
      }).mount("#app");
    </script>
    {% endblock script %}
  </body>
</html>
